body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.block1{
    display: flex;
    flex-direction: row;

}

.google-logo{
    margin-right: 40px;
    margin-left: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.google-logo img{
    width: 100px;
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-image{
    margin-top: 20px;
}

.search-bar{
    display:flex;
    flex-direction: row;
    border: 1px solid #d1dae2;
    border-radius: 20px;
    padding: 2px;
}

.search-icon,
.search-keyboard-icon{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-bar input[type=text]{
    width: 487px;
    height: 34px;
    outline: 0;
    border: none;
    transition: all 500ms linear;
}

.search-icon svg{
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.filter-gray{
    filter: invert(74%) sepia(1%) saturate(1746%) hue-rotate(175deg) brightness(88%) contrast(78%);
}

.search-keyboard-icon img{
    margin-right: 10px;
    margin-left: 10px;
}

.control-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.control-btn{
    margin-right: 20px;
}
nav{
    margin-top: 20px;
    font-size: 14px;
    border-bottom: 1px solid #ebebeb;
}

nav ul{
    color:#5f6368;
    display:flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
    margin:0px;
}

nav ul li{
    margin-right: 20px;
    padding-bottom: 12px;
}