body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    margin-top: 1.87rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.block1{
    display: flex;
    flex-direction: row;

}

.google-logo{
    margin-right: 2.5rem;
    margin-left: 1.25rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.google-logo img{
    width: 6.25rem;
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-image{
    margin-top: 1.25rem;
}

.search-bar{
    display:flex;
    flex-direction: row;
    border: 1px solid #d1dae2;
    border-radius: 1.25rem;
    padding: 2px;
}

.search-icon,
.search-keyboard-icon{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-bar input[type=text]{
    width:  40vw;
    height: 2.12rem;
    outline: 0;
    border: none;
    transition: all 0s linear;
}

.search-icon svg{
    width: 1.25rem;
    margin-right: 0.625rem;
    margin-left: 0.625rem;
}

.filter-gray{
    filter: invert(74%) sepia(1%) saturate(1746%) hue-rotate(175deg) brightness(88%) contrast(78%);
}

.search-keyboard-icon img{
    margin-right: 0.625rem;
    margin-left: 0.625rem;
}

.control-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.control-btn{
    margin-right: 20px;
}

.container{
    width: 58.37rem;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 1.25rem;
    font-size: 0.87rem;
    border-bottom: 1px solid #ebebeb;
}

nav ul{
    color:#5f6368;
    display:flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
    margin:0px;
}

nav ul li{
    margin-right: 1.25rem;
    padding-bottom: 0.75rem;
}

.selected{
    border-bottom: 2px solid #1a73e8;
}

#search-results{
    margin-top: 1.25rem;
    display:flex;
    justify-content: center;
}

.widget-result{
    width: 36.25rem;
    margin-bottom: 35px;
}

.widget-result-site{
    font-size: 14px;
    margin-bottom: 10px;
}

.widget-result-title{
    font-size: 20px;
    margin-bottom: 8px;
}

.widget-result-description{
    font-size: 14px;
}

footer{
    bottom: 0px;
    width: 100vw;
    margin-top: auto;
}

.footer-country,
.footer-useful-links{
    color: #70757a;
    background-color: #F2F2F2;
    padding: 0.93rem;
}

.footer-country{
    font-size: 0.93rem;
    padding: 0.93rem;
    border-bottom: 1px solid #dadce0;
}

.footer-useful-links{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.footer-useful-links .block2{
    float: right;
}

.footer-useful-links .block1,
.footer-useful-links .block2{
    display: flex;
    flex-direction: row;
}

.footer-useful-links .block1 p,
.footer-useful-links .block2 p{
    margin: 0 1.25rem 0 0;
    display: inline-block;
}

.no-wrap{
    white-space: nowrap;
}

@media (max-width: 950px){
    .widget-result,
    nav{
        margin-left: 1.8rem;
    }
}


@media (max-width: 700px) {

    .search-bar input[type=text]{
        width: 20vw;
    }

    .footer-useful-links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-useful-links .block2{
        margin-top: 15px;
    }
}

@media (max-width: 600px){
    .widget-result{
        width: auto;
    }
    header{
        flex-direction: column;
    }

    .control-btns{
        order:-1;
        align-self: flex-end;
        margin-bottom: 30px;
    }

    nav{
        font-size: 0.5rem;
    }

    .block1{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 375px){
    nav ul{
        flex-wrap: wrap;
    }
    .widget-result{
        width: 80vw;
    }
}